<div class="product-detail-container" *ngIf="product">
  <div class="product-image">
    <img [src]="product.images[0]" alt="{{ product.title }}">
  </div>

  <div class="product-info">
    <h2>{{ product.title }}</h2>
    <p class="description">{{ product.description }}</p>
    <p class="price">Price: ${{ product.price }}</p>

    <form [formGroup]="productForm" class="product-form">
      <!-- Size Selection -->

      <div class="button-group">
        <mat-form-field appearance="outline" *ngIf="product.sizes?.length">
          <mat-label>Select Size</mat-label>
          <mat-select formControlName="selectedSize">
            <mat-option *ngFor="let size of product.sizes" [value]="size">{{ size }}</mat-option>
          </mat-select>
        </mat-form-field>
  
        <!-- Color Selection -->
        <mat-form-field appearance="outline" *ngIf="product.colors?.length">
          <mat-label>Select Color</mat-label>
          <mat-select formControlName="selectedColor">
            <mat-option *ngFor="let color of product.colors" [value]="color">{{ color }}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      
      <button mat-raised-button  class="add-to-cart-btn" (click)="addToCart()"   color="accent">
        Add to Cart
      </button>
    </form>
  </div>
</div>
