.confirmation-container {
    text-align: center;
    padding: 50px;
  }
  
  button {
    margin-top: 20px;
  }
  .mat-mdc-button:disabled{
    background-color:darkgrey ;
  }
  .mat-mdc-button.mat-unthemed {
    background-color:darkgrey ;
    color: white;
  }