<div class="cart-container">
  <h2 class="cart-title">Shopping Cart</h2>

  <div class="cart-content">

     
    <div class="cart-items" *ngIf="cartItems.length > 0; else emptyCart">
      
      <mat-card class="cart-item" *ngFor="let item of cartItems; let i = index">
        <img mat-card-image [src]="item.images[0]" alt="{{ item.title }}" class="cart-image" />
        <mat-card-actions class="cart-actions">
          <button mat-icon-button color="warn" (click)="removeFromCart(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
        <mat-card-content class="cart-details">
          <h3>{{ item.title }}</h3>
          <p class="price">Price: ${{ item.price }}</p>
        </mat-card-content>

   
      </mat-card>
    <div class="cart-summary">
      <h3>Cart Summary</h3>
      <p>Total Items: {{ cartItems.length }}</p>
      <p><strong>Total Price: ${{ getTotalPrice() }}</strong></p>

      <button mat-raised-button color="" routerLink="/checkout" class="checkout-btn">
        Proceed to Checkout
      </button>
    </div>
  </div>
</div>
    </div>

   
<ng-template #emptyCart>
  <div class="empty-cart">
    <img src="https://static.vecteezy.com/system/resources/previews/016/462/240/non_2x/empty-shopping-cart-illustration-concept-on-white-background-vector.jpg"
      alt="Empty Cart" class="empty-cart-image" />
    <p>Your cart is empty! Start shopping now.</p>
  </div>
</ng-template>
