/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
  }
  
  button.mat-primary {
    background-color: #007bff;
    color: white;
  }
  
  button.mat-warn {
    background-color: #dc3545;
    color: white;
  }
  