.checkout-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
  }
  .mat-mdc-raised-button.mat-primary{
    height: 30px;
    background-color:darkgrey  !important;
  }

  .mat-mdc-button:disabled{
    background-color:darkgrey ;
  }
  .mat-mdc-button.mat-unthemed {
    background-color:darkgrey ;
    color: white;
  }