.checkout-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  

  
  button {
    width: 100%;
  }
  .mat-mdc-raised-button.mat-primary{
    height: 30px;
    background-color:darkgrey  !important;
  }

  .mat-mdc-button:disabled{
    background-color:darkgrey ;
  }
  .mat-mdc-button.mat-unthemed {
    background-color:darkgrey ;
    color: white;
  }
  
.button-group {
  display: flex;
  gap: 10px; 
  margin-top: 15px;
}

.button-group button {
  flex: 1; 
  max-width: 150px; 
}

  